.title {
  flex-grow: 1;
  font-size: 18px;
  margin: 0 0 0 0.25em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0.5em;
}

.row {
  margin: 0.4em 0 0 0;
  border-bottom: 1px dashed lightgrey;
}

.innerRow {
  display: flex;
  align-items: baseline;
  margin-right: 1em;
}

.item {
  flex-grow: 1;
}

.name {
  margin: 0 0.25em;
}

.number {
  font-size: 0.8em;
}

.lengths {
  font-size: 0.8em;
}
